@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&family=Quicksand:wght@300..700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&family=Quicksand:wght@300..700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&family=Quicksand:wght@300..700&family=Satisfy&display=swap');

:root {

  --secondary: #28FFBF;
  --primary: #0B5226;
  --light: #82D096;
  --emerald: #00A172;
  --pale: #9BFFCD;
  --text-profile-shadow: #fff;
  --name-cardBackground-borders: rgb(75, 73, 73);
  --body-background: #000;
  --section-2: #0f0e0e;
  --project-skill-desc: #232222;
  --thumbnail-icon-container: #1e1d1d;
  /* --project-skill-desc:#232222; */
  --form-grad-1: #93e9be;
  --from-grad-2: #50c878;
  --disabled: #ebe8e8
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.body-bg-color {
  background-color: var(--body-background) !important;
  /* Example background color */
}

body {
  overflow-x: hidden;
  /* background-color: #000 !important; */
  /* Ensure horizontal overflow is hidden */
  /* background-color: rgb(130, 204, 238) !important; */
}

a{
  /* color: none !important; */
text-decoration: none !important;
}



/* header div div {
  justify-content: space-between;
}

nav {
  margin: 0 !important;
  justify-self: center;
  display: flex;
  flex-direction: row;
  padding-top: 3px;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 0 !important;
}

nav ul li {
  padding: 8px 16px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 25px;
  color: var(--primary);
  font-weight: 600;
}

.nav-bar-container {
  background-color: #fff;
  /* margin: 12px; 
  justify-content: center;
  display: flex;
}



.hamburger {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  /* height: 50px; 
  overflow: hidden;

}

.bar {
  width: 30px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.5s ease;
} */

/* Styles for the header */
header {
  background-color: #fff;
}

.logo h1 {
  font-size: 2rem; /* Adjusted for better visibility */
  margin: 0;
}

.nav-bar-container {
  justify-content: center;
  display: flex;
  padding: 10px 0;
}

.navbar-nav .nav-item {
  /* padding: 8px 16px; */
}


.input-group-text , .form-control{
  border-radius: 0 !important;
}


.navbar-nav .nav-link {
  text-decoration: none;
  font-size: 1.1rem; /* Adjusted for better readability */
  color: var(--primary);
  font-weight: 600;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Add a hover color */
}

.input-group{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-mail:hover{
  cursor: progress !important;
}

/* .search-text-input{
  di;
} */

.theme-options.hidden {
  display: none; /* Initially hidden */
  /* position: absolute; */
  /* top: 50px; */
  /* right: 50px; */
  background: #fff;
  border: 1px solid #ddd;
  /* padding: 10px; */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.theme-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.theme-options ul li {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.theme-options ul li:hover {
  background-color: #f0f0f0;
}

/* Responsive design */
@media (max-width: 767.98px) {
  .logo h1 {
    font-size: 1.5rem; /* Slightly smaller font for mobile */
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-bar {
    padding: 0 15px;
  }

  .navbar-toggler {
    margin-left: auto;
  }

  .nav-item.d-md-none {
    display: block;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    margin-right: auto;
  }
  .navbar-toggler {
    margin-left: auto;
  }
  .d-flex.align-items-center {
    margin-left: auto;
  }
  .thumb-container{
    margin-left: 0 !important;
  }
}

.search-field:focus{
  border: 0.5px solid var(--primary) !important;
  box-shadow: none !important;
  
}
.nav-item:hover{
  cursor: pointer;
}



/* Rotate first and third bars to make them diagonal */
/* .hamburger.active .bar:nth-child(1) {
  transform: rotate(-39deg) translate(-8px, 8px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(39deg) translate(-7px, -7px);

} */

.theme-switch{
  height: 40px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-toggle::after {
  display: none !important;
}
/* .dropdown-toggle::after {
  content: none;
}
.dropdown-toggle::after {
  content: none;
} */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}
.color-palette {
  flex-direction: column;
  padding: 5px !important;
  /* margin-left: 150px; */
  /* border: 1px solid #000; */
}

.theme-options {
  opacity: 0;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 100;
  top: 2px;
  margin-top: 55px;
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  border-radius: 10px;
  transition: max-height 0.5s ease, max-width 0.5s ease, opacity 0.5s ease;
  margin-right: 60px;

}

.theme-options.show {
  opacity: 1;
  border-radius: 10px;
  max-height: 200px;
  /* Adjust the maximum height as needed */
  max-width: 300px;
  width: 200px;
}

.theme-options ul {
  list-style: none;
  padding: 10px !important;
  margin: 0 !important;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}

.theme-options ul li {
  padding: 10px;
  width: 100px;
  cursor: pointer;
}


.theme-options.show ul li {
  width: 100%;
  border-bottom: 1px solid #000;
}



main {
  margin-top: -61px;
}


.waves {
  transform: rotateX(180deg);
  /* ======== previoulsy position was fixed ======== */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  z-index: -1;
  /* Ensure the SVG is behind other content */
  pointer-events: none;
  background-color: #000;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}




.img-container {

  background-color: var(--secondary);
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin-left: 50px;
  margin-top: 100px;
  box-shadow: 0px 0px 10px 2px var(--text-profile-shadow);
  overflow: hidden;
  justify-content: center;
  transition: transform 0.5s ease;

}


.img-container:hover #profile {
  /* width: 260px;
  height: 260px; */
  transform: scale(1.2);
  transition: transform 0.5s ease;

  /* transform: rotateY(0deg);
  position: fixed; */
}


.img-container:hover {
  overflow-y: visible;
  transition: transform 0.5s ease;
}

#profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* object-fit: contain; */
  transition: transform 0.5s ease;
  /* width: 250px; */
  /* height: 250px; */
  top: 0;
}

.logo {
  font-family: freethinker, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.logo h1 {
  margin-bottom: 0 !important;
  padding: 5px;

}

.greeting {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 20px;
  text-shadow:
    0px 0px 5px #fff;

}

.name {
  margin-top: 40px !important;
  font-family: "Playfair Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-size: 6vw;
  color: var(--name-cardBackground-borders) !important;
  text-shadow:
    0px 0 3px var(--text-profile-shadow),
    0px 0 3px var(--text-profile-shadow),
    0px 0 3px var(--text-profile-shadow),
    0px 0 3px var(--text-profile-shadow);
}

.reveal-text {
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  animation: revealAnimation 2s forwards;
  font-weight: 600;
  /* color: var(--secondary) !important; */
  text-shadow: 0px 0px 2px var(--text-profile-shadow);
}

@keyframes revealAnimation {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.heading-para {
  color: #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  align-self: center;
  justify-self: center;
}

hr {
  border: 1px solid rgb(255, 255, 255) !important;
  /* Change the border style */
  margin: 20px 0;
  /* Add space above and below the line */
}

.about-me-container {
  padding-left: 70px !important;
}

.about-me-section {
  /* align-self: center; */

}

.about-me-section h1 {
  color: var(--emerald);
}

.about-me-content p span {
  font-size: 35px;
  color: var(--text-profile-shadow);
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-optical-sizing: auto;

}

svg g use {
  fill: var(--primary);
  opacity: 0.2;
}

.section-1 {
  padding-bottom: 30px;
  position: relative;
  top: -28px;
  padding-top: 60px;
  min-height: 100vh;
}

.section-1 svg {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: -100px; */
  left: 0;
  background-color: black;
}

@media screen and (max-width:767px) {
  .section-1 svg {

    height: 100%;
    top: -38px;
  }
}

.section-2 {
  background-color: #0f0e0e;
  background-color: var(--section-2);
  box-shadow: 50px 0 0 0 #0f0f0f87;
  /* height: ; */
  padding-top: 40px;
  padding-bottom: 40px;
  padding-inline: 10px;
}

.section-2 h1 {
  border-bottom: 1px solid var(--pale);
  color: var(--emerald);
  align-self: center;
}

.skill-container {
  /* background-color: #0B5226; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding-left: 70px !important; adjust for mobile */
  /* padding-inline: 70px !important; */
}

.skill-container .skill-container-row {
  padding-inline: 10px !important;
}

.skills-list-container {
  padding-inline: 30px !important;
}


.skill-container p {
  color: var(--emerald);
}



.skill-card-list {
  overflow-y: hidden;
  padding-top: 20px;
  /* padding: 20px; */
  scrollbar-width: none;
  -ms-overflow-style: none;
  align-content: center;
  display: flex;
  align-items: center;
}

.skill-card {
  /* height: 250px; */
  width: 250px !important;
  border: 1px solid transparent;
  margin: 10px;
  /* margin-inline: 10px; */
  text-align: left !important;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  transition: box-shadow 0.3s ease;
  text-align: center;

}

.skill-card:hover {
  cursor: pointer;
  -webkit-transform: translateY(-8px);
  transform: scale(1.02);
  border: 1px solid var(--pale);
  box-shadow: 0 0 10px var(--pale);
}

.skill-card:hover h4 {
  text-shadow: 0px 0px 1px var(--pale);
}

.skill-card p {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 5px !important;
  margin: 0 !important;

}

.thumb-container {
  background-color: var(--thumbnail-icon-container);
  padding: 15px;
}

.skill-thumb {
  height: 100px;
  width: 100px;
  align-self: center;
  margin: 20px;

}

.skill-desc-container {
  background-color: var(--project-skill-desc);
  height: 100%;
  text-align: center;
  /* word-break: break-word; */
}

.skill-desc-container p {
  color: var(--text-profile-shadow);
  word-break: break-word;
  height: 80px;
  overflow-y: scroll;
}

.skill-desc-container h4 {
  border-bottom: 1px solid var(--name-cardBackground-borders);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 5px;
  color: var(--emerald);

}


.card-container {
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  /* margin-block: 50px; */
  background-color: var(--project-skill-desc);
  border-radius: 5px;
  width: 300px;

}

.card-container:hover {
  /* color: #ffee10;
box-shadow: 0 0 5px #ffee10;
text-shadow: 0 0 5px #ffee1052; */
  cursor: pointer;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.projects {
  /* padding-left: 30px !important;  adjust for mobile */
  /* padding-inline: 70px !important; */
  margin-bottom: 0 !important;
  padding: 0 !important;
  /* padding-inline: 40px !important; */

}

.projects h1 {
  padding-inline: 20px !important;
}

.project-container {
  /* margin-inline:2%;   */
  margin-block:4%;
  width: 300px;
  

  /* padding-bottom: 20px; */
}

.project-card-container {
  overflow-y: hidden;
  margin-top: 0 !important;
  margin-left: 0px !important;
  display: flex;
  align-items: center;
  padding-block: 50px !important;
  padding-inline: 20px !important;
}

.project-card {
  width: 300px;
  height: 400px;
  overflow-y: hidden;
  background: rgba(255, 255, 255, 0.002) !important;

  /* Frosted glass effect */
  border-radius: 5px;
  backdrop-filter: blur(10px);

  /* Apply blur effect */
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  /* opacity: 0.5; */

  /* White border */
  border: 1px solid transparent;
  /* Add transparent border by default */
  backdrop-filter: blur(10px);

  transition: box-shadow 0.8s ease;
  transition: border 0.3s ease;


}

.project-card:hover {
  border: 0.2px solid var(--pale);
  box-shadow: 0 2px 20px var(--pale);
  /* width: 355px; */
  /* height: 410px; */
  /* top: -100px */
}

.project-card:hover .inner-element {
  box-shadow: 0 0 10px var(--pale);
  /* Add shadow to .inner-element when .skill-card is hovered */
}

.project-card .img-thumbnail {
  border: 1px solid #fff;
  margin: 15px;
  background-color: #fff !important;
  /* position: fixed; */
  height: 100px;
  width: 100px;
  align-self: flex-start;
}

.project-card h3 {
  align-self: center;
  color: var(--emerald);
  /* text-decoration: underline var(--pale) ; */
  /* text-decoration: underline; */
  border-bottom: 2px solid var(--primary);
  padding-bottom: 15px;
  margin-top: 10px;
  word-wrap: break-word;

}

.title-icon-desc {
  background-color: var(--thumbnail-icon-container);
  /* box-shadow: 0px 4px 6px rgba(121, 113, 113, 0.1); */
  display: flex;
  width: 100%;
}

.project-details {
  /* overflow-y: auto; */
  padding-block: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-y: scroll;
  /* Enable vertical scrolling */
  scrollbar-width: none;
  /* Hide the default scrollbar for Firefox */
  -ms-overflow-style: none;
  height: 80%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--project-skill-desc);
}

.project-details p {
  margin-block: 10px;
  color: var(--text-profile-shadow);
  word-wrap: break-word;
}

.project-details::-webkit-scrollbar {
  display: none;
}


.tech-icons {
  /* height: 30px;
  width: 30px; */
  align-self: flex-start;
  margin-right: 5px;
  color: var(--text-profile-shadow);
}

.title-tech {
  /* background-color: #5eac7c; */
  margin-top: 5px;
  width: 55%;
  padding:15px;

}

.project-tech-form input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.project-tech-form li {
  margin: 2px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.project-tech-form ul {
  width: 120%;
}

.contact-form-ul li{
  margin-block: 25px;
 }

 .contact-form-ul{
  padding: 0 !important;

 }

.contact-form-ul input{
 width: 100%;
 border-radius: 5px;
 box-shadow: none;
 border: none !important;
 padding: 5px;
}


[id^="project-tech-name-"][disabled] {
  background-color: var(--disabled);
}

#project-name-form[disabled] {
  background-color: var(--disabled);
}

#about-the-project-form[disabled] {
  background-color: var(--disabled);
}


.title-tech h3 {
  overflow-y: scroll;
  height: 60px;
  overflow-y: auto;
  /* Enable vertical scrolling */
  text-align: center;
  /* Center the text */
}

.btn-box #add-project-button {
  /* margin: 100px; */
}

#form_3 .search-box input {
  width: 100%;
}

#form_3 textarea {
  height: 200px;
}

.section-3 {
  background-color: #201e1e;
}

.contact {}

.contact h1 {
  color: var(--emerald);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-sec {
  border-bottom: 1.5px solid var(--light);

}

.contact-card {
  background-color: var(--name-cardBackground-borders);
  height: 150px !important;
  width: 180px !important;
  /* background-color: #fff; */
  margin: 10px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  transition: box-shadow 0.5s ease;
}

.contact-card:hover {
  box-shadow: 0 0 10px 2px var(--pale);
}

.contact-card:hover .contact-image-wrapper {
  box-shadow: 0 0 10px 0 var(--pale);
  /* box-shadow:  0 0 0px 5px #000; */

  /* box-shadow:  none; */
  /* box-shadow:  0 5px -50px 0 var(--pale); */
  border: 2px solid var(--pale);
  animation: ripple-img 1s infinite;
  animation: ripple 1s infinite;

  /* border-bottom:3px solid #000; */
  /* padding-bottom: 5px; */

}

.contact-card-image {
  height: 30px;
  width: 30px;
}

.contact-image-wrapper {
  background-color: #fff;
  height: 50px;
  width: 50px;
  /* transform: translateX(150px) ; */
  transform: translateY(-35px);
  margin-left: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: none;
  transition: box-shadow 0.3s ease;

}

@keyframes ripple-img {
  0% {
    box-shadow: 0 0 5px 0 var(--pale);
    /* Start with no shadow */
  }

  50% {
    box-shadow: 0 0 10px 0px var(--pale);
    /* Create a shadow with 10px blur at 50% */
  }

  100% {
    box-shadow: 0 0 5px 0 var(--pale);
    /* End with no shadow */
  }
}

.contact-type {
  /* background-color: #003F57; */
  margin-top: -30px;
  height: 70%;
  text-align: center;
  color: var(--emerald);
  word-wrap: break-word;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

/* .contact-card:hover .contact-type-name{

  border-bottom: 1px solid var(--emerald);

} */

.contact-type-name::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  /* Start with no width */
  height: 2px;
  /* Border height */
  background-color: var(--light);
  /* Border color */
  transition: width 0.3s;
  /* Transition the width property for animation */

}

.contact-card:hover .contact-type-name::after {
  width: 100%;
}

.contact-type-name {
  position: relative;
  display: inline-block;
  /* margin-top: 5px; */
  padding: 10px;
}

.contact-type-details {
  color: var(--text-profile-shadow);
  text-align: center;
  white-space: normal;
}


.ripple {
  position: absolute;
  text-decoration: none;
  color: #fff;

  background-color: transparent;
  margin: 0 auto;
  z-index: -1;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
  margin: -50px
}

@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 2px 0 var(--pale), 0 0 7px 0px var(--pale), 0 0 9px 0px var(--pale), 0 0 12px 0px var(--pale);
    box-shadow: 0 0 0 0 var(--pale), 0 0 7px 0px var(--pale), 0 0 9px 0px var(--pale), 0 0 12px 0px var(--pale);
  }

  100% {
    -webkit-box-shadow: 0 0 7px 0px var(--pale), 0 0 9px 0px var(--pale), 0 0 12px 0px var(--pale), 0 0 0 15px rgba(189, 142, 210, 0);
    box-shadow: 0 0 7px 0px var(--pale), 0 0 9px 0px var(--pale), 0 0 12px 0px var(--pale), 0 0 0 15px rgba(189, 142, 210, 0);
  }
}

@keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 2px 0 var(--pale), 0 0 7px 0px var(--pale), 0 0 9px 0px var(--pale), 0 0 12px 0px var(--pale);
    box-shadow: 0 0 0 0 var(--pale), 0 0 7px 0px var(--pale), 0 0 9px 0px var(--pale), 0 0 12px 0px var(--pale);
  }

  100% {
    -webkit-box-shadow: 0 0 7px 0px var(--pale), 0 0 9px 0px var(--pale), 0 0 12px 0px var(--pale), 0 0 0 15px rgba(189, 142, 210, 0);
    box-shadow: 0 0 7px 0px var(--pale), 0 0 9px 0px var(--pale), 0 0 12px 0px var(--pale), 0 0 0 15px rgba(189, 142, 210, 0);
  }
}

#create_your_own:hover {
  /* background-color: yellow; */
  cursor: pointer;
}

#create_your_own{
  color: var(--primary);
}

#signIn:hover {
  /* background-color: yellow; */
  cursor: pointer;
}
#signIn {
  color: var(--primary);
}


.modal-dialog {
  /* height: 50% !important; */
  margin: auto;
  position: absolute;
  overflow-y: scroll;
  /* background-color: #28FFBF; */
}

.modal-header div button {
  height: 25px;
  width: 25px;
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  box-shadow: 0 0 2px 0 var(--body-background);
  border-radius: 5px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-image: linear-gradient(to bottom right, var(--form-grad-1), var(--from-grad-2));
  height: 90%;
  overflow-y: scroll;

  /* position: absolute;  */
}


.modal-body {
  /* background-color: #702c2c !important; */
  position: relative;
  margin: 5%;

}



.first-name {
  width: 75% !important;
}

.domain-container input {
  width: 18%;
}


input::placeholder {
  color: #b2acaca2 !important;
  /* font-size: xx-small; */
  /* border: 2px solid black; */
  /* Change this to the desired color */
}

textarea::placeholder {
  color: #b2acaca2 !important;
}

.add-domain {
  -webkit-margin-start: 10px;
}

.about-text-area {
  width: 100% !important;
  align-self: center;
}

.btn-box {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

form label {
  color: var(--text-profile-shadow);

}

form button {
  width: 110px;
  height: 35px;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 5px;
  border: none;
  /* box-shadow: 0 0 5px 0px var(--body-background);  */
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

#form_1 {}

#form_2 {
  display: none;
}

#form_3 {
  display: none;
}

.form-hide {
  display: none !important;
  visibility: hidden;
  transition: opacity 3s ease, visibility 3s linear;
}

.form-show {
  display: block !important;
  visibility: visible;
  transition: opacity 3s ease, visibility 3s linear;
}

.form_2 input {
  border-radius: 5px;
  border: none !important;
  padding: 5px;
  margin-bottom: 5px;
}

.search-box {
  justify-content: space-evenly;
  display: flex;
}

.search-box input {
  width: 58%;
  padding: 5px !important;
  border-radius: 5px !important;
  border-style: initial;
  border: 0.5px solid rgb(222, 218, 218) !important;
  box-shadow: none;

}

.search-box button {
  width: 35%;
  padding: 5px !important;
  border-radius: 5px !important;

}


form button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: none !important;
  background-color: var(--body-background);
  color: var(--light);
  /* Lowering the shadow */
}

.domain-container * {
  /* color:red */
}

.modal-icon {
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
}

.modal-icon-content {
  /* background-color: #fefefe; */
  margin: 20px;
  border-radius: 5px;
  border: solid 0.5px var(--emerald);
  padding: 10px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.modal-icon-content:hover {
  transform: scale(1.2);
  background-color: var(--pale);
  transition: transform 0.4s ease;
}

.modal-icon-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-icon-close:hover,
.modal-icon-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.icon-container {
  overflow: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 !important;
}

#contact-skill-pop-up {
  display: none;
  position: fixed;
  z-index: 3;
  top: 15%;
  left: 15%;
  margin: auto;
  background-color: var(--light);
  height: 70%;
  flex-wrap: wrap;
  width: 70%;
}

.thumb-container-selected {
  background-color: var(--text-profile-shadow);
}

/* @media (min-width: 1400px){
  .project-card-container {
flex-direction: row !important;
}} */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--body-background);
  color: var(--pale);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}